@mixin respond-to($breakpoint) {
    @media (max-width: $breakpoint) {
        @content;
    }
}

@mixin flex-column-gap($gap) {
    display: flex;
    flex-direction: column;
    gap: $gap;
}

@mixin bg-image($url) {
    background-image: url($url);
    background-position: center;
    -o-object-fit: fill;
        object-fit: fill;
    background-size: 100%;
    background-repeat: no-repeat;
}