// Colors
$color-text-primary: rgba(78, 78, 78);       
$color-text-secondary: #667462;            
$color-text-light: #ffffff;  
$color-bg-primary: #b57059;

// Fonts
$font-family-base: 'Libre Baskerville', serif;
$font-family-alt: "Montserrat"
