@use "../../../styles/mixins" as *;
@use "../../../styles/variables" as *;

.main {
    margin: 3rem 0rem;
    padding: 0rem 2rem;
    
    h3.mobile {
        font-size: 3.5rem;
        font-style: italic;
        padding: 2rem 0rem;
        text-align: center;
        display: none;
        
        @include respond-to($breakpoint-md) {
            display: block;
        }
    }

    .content {
        display: flex;
        gap: 4rem;

        .image {
            width: 45%;

            img {
                width: 100%;
                height: 100%;
            }

            @include respond-to($breakpoint-md) {
                width: 100%;
            }
        }
        
        .list-items {
            font-size: 1.5rem;
            width: 55%;
            display: flex;
            justify-content: space-between;
            flex-direction: column;

            h3.desk {
                font-size: 2.5rem;
                font-style: italic;

                @include respond-to($breakpoint-md) {
                    display: none;
                }
            }

            ul {
                margin: 0;
                padding: 0;
            }

            .btn-tour-schedule {
                text-align: center;
                
                button {
                    background-color: $bg-head;
                    color: $color-text-light;
                    font-size: 1.3rem;
                    padding: 1rem;
                    margin: auto;
                    letter-spacing: 0.2rem;
                    border: none;
                    width: 20rem;
                    font-style: italic;
                    font-weight: 800;
                }
            }

            @include respond-to($breakpoint-md) {
                width: 100%;
                font-size: 2rem;
            }
        }

        @include respond-to($breakpoint-md) {
            flex-direction: column;
        }
    }
}
